.appButton {
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid teal;
    cursor: pointer;
}
